
.custom-checkbox__container{
  display: flex;
  align-items: center;
  cursor: pointer;
  /* width: 100%; */
  /* background-color: #f2f2f2; */
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.custom-checkbox__container input[type=checkbox]{
  display: none;
}
.custom-checkbox__background {
    width: 40px;
    height: 10px;
    background: #555;
    margin: 20px;
    position: relative;
    border-radius: 3px;
    flex: 0 0 auto;
}
.custom-checkbox__thumb {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: #ccc;
}
.custom-checkbox__text{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.custom-checkbox__text > span{
    line-height: 1.2;
}
.custom-checkbox__constantText{
    margin-right: .5rem;
}
.custom-checkbox__container input[type=checkbox]:checked ~ p span.custom-checkbox__offText {
    display: none;
}
.custom-checkbox__container input[type=checkbox]:checked ~ p span.custom-checkbox__onText {
    display: inline;
}
.custom-checkbox__container input[type=checkbox] ~ p span.custom-checkbox__onText {
    display: none;
}





/* Variant 0 */
.custom-checkbox__container-0 input[type=checkbox]:checked + .custom-checkbox__background .custom-checkbox__thumb {
    left: 27px;
    background: green;
}




/* Variant 1 */
.custom-checkbox__container-1 .custom-checkbox__background {
    width: 45px;
    width: 51px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 4px 4px 5px 4px;
    margin: 0 .5rem;
}
.custom-checkbox__container-1 .custom-checkbox__thumb {
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    left: 0;
}

.custom-checkbox__container-1 input[type=checkbox]:checked + .custom-checkbox__background {
    background: green;
}
.custom-checkbox__container-1 input[type=checkbox]:checked + .custom-checkbox__background .custom-checkbox__thumb {
    left: 20px;
    background: #ccc;
}