.table-sorter{
  height: 100vh;
  height: calc(100 * var(--vh));
  display: grid;
  grid-template: max-content 1fr / 1fr;
}
@media (max-width: 1024px){
  .app-menu{
    margin-top: -100vh;
    /* margin-bottom: 100%; */
    opacity: 0;
    transition: margin .3s, opacity .3s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
  }
  #app-menu-control--hidden:checked ~ .app-menu{
    margin-top: 0;
    /* margin-bottom: 0%; */
    opacity: 1;
    transition: margin .3s, opacity .3s;
  }
}




.table-sorter__header{
  grid-template: 1fr / 1fr;
}


input[name=sort-algorithm] ~ label{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  line-height: 1.8;
}
input[name=sort-algorithm]:checked ~ label{
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
/* input.sort-algorithm[type=radio]:checked ~ label{
  font-weight: bold;
} */

.sort-algorithms{
  background-color: #6c757d;
  border: none;
}

.sort-algorithms li{
  display: grid;
  grid-template: 1fr / 1fr;
}
.sort-algorithms label{
  cursor: pointer;
}

.with-muted-p p{
  font-size: .9rem;
  font-style: italic;
}











.sort-key {
  margin: 0 1px;
  background-color: #666 !important;
  color: white;
  line-height: 1.5;
  font-size: 1rem;
  font-size: .8rem;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
}
.sort-key label{
  /* background: red; */
  padding: .2rem .5rem .2rem .5rem ;
  cursor: pointer;
  /* padding-bottom: .1rem; */
  display: inline-flex;
  align-items: center;

}
.sort-key label:hover{
  background: rgba(0,0,0,0.1);
  color: white!important;
}
.sort-key label::before{
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  /* margin-left: .5rem; */
  background: radial-gradient(#bbb 1px,transparent 2px);
  background-size: .33em .33em;
  content: ' ';
}
.sort-key .fas{
  margin-left: .5rem;
  font-size: .8rem;
  line-height: 1.5;
  color: #bbb;
}
.sort-key label:hover .fas{
  color: white !important;
}
.sort-key .fa-caret-up,
.sort-key .fa-caret-down{
  margin-left: 1rem;
}

.sort-key label input[type=checkbox] ~ .fa-caret-up{ display: none }
.sort-key label input[type=checkbox] ~ .fa-caret-down{ display: inline }
.sort-key label input[type=checkbox]:checked ~ .fa-caret-up{ display: inline }
.sort-key label input[type=checkbox]:checked ~ .fa-caret-down{ display: none }

.sort-key .remove{
  padding-right: .5rem;
}
.sort-key .remove:hover{
  background-color: rgba(0,0,0,0.1);
}
.sort-key .remove:hover .fas{
  color: white !important;
}


@media (min-width: 1024px){
  .sort-key .fas{
    font-size: 1rem;
  }
  .sort-key{
    font-size: 1rem;
  }
}