.text-1xl-m{
  font-size: 1.25rem;
  line-height: 1.8rem;
}
@media (min-width: 1024px){
  .lg\:text-1xl-m{
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;